#moyai {
 font-family: "Courier New", Courier, monospace;
 font-size: 25px;
 letter-spacing: -1.6px;
 word-spacing: 2px;
 color: #00C8A7;
 font-weight: 700;
 text-decoration: none;
 font-style: normal;
 font-variant: normal;
 text-transform: none;
 text-align: center;
}
body {
 background: #633CBF
}
